.gradient-background{
    background: linear-gradient(to right, #e4e2e1, #a28989,rgb(42, 42, 175));
    border: none;
    color: white;
    padding: 10 px 25 px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16 px;
}

.bi{
    fill:currentColor
}

.d-block{

        border: 3px solid #100606;
      
    
       
}

h1 {
    display: inline-block;
    text-align: center;
    border: none;
    padding: 10 px 25 px;
    color: #100c0b;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}


h2 {
    color: #050909;
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10 px;
}

h3 {
    color: #081515;
    font-family: "Sacramento", cursive;
    font-size: 2.5 rem;
    font-weight: normal;
}

.pro {
    text-decoration: underline;
}

.mb-4{
color:rgb(6, 1, 19);
}

.d-block {
    display: block;
    border-radius: 10 px;
}

.fs-4{

    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-link{
    color: #050909;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item{
    width: 95px;

}

